<% if(user){ %>
  <div>
    <p>Hi
      <%= user.username %>. You are now logged in!</p>
  </div>
  <% } %>

    <div class="jumbotron">
      <div class="container">
        <h1>Boost Traffic!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
      </div>
    </div>
