<div class="container">
<div class="form">
  <div id="new-contests">
    <h1>Create new contest!</h1>
    <form action="/admin/new-contests" method="post" enctype="multipart/form-data">
      <div class="field-wrap">
        <input type="text" placeholder="Group Name" name="name" />
      </div>
      <div class="field-wrap">
        <input type="text" placeholder="Hashtag" name="hashtag" />
      </div>
      <div class="field-wrap">
        <input type="text" placeholder="Prize" name="prize" />
      </div>
      <div class="field-wrap">
        <input type="date" placeholder="Final Date" name="finalDate" />
      </div>
      <div class="field-wrap">
        <input type="file" name="photo">
      </div>
      <div class="field-wrap">
        <input class="button button-block" type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
</div>
