<div class="container">
<% if(user){ %>
          <div>
            <p>Profile of <%= user.username %></p>
            <p>Password of <%= user.password %></p>
            <!-- <% if(picPath){ %>
            <img width="300px" src="<%= elem.images[0].url %>">
            <% } else {%>
            <img width="300px" src="http://www.ached.cl/congreso2015/img/user_placeholder.png">
            <%}}) %> -->


          </div>
        <% } %>
